<app-modal-add></app-modal-add>
<app-modal-edit [registro]="registroSeleccionado" *ngIf="registroSeleccionado"></app-modal-edit>
<app-header></app-header>
<div class="d-flex justify-content-center mt-3">

    <div>

        <h2>Government Fiscal Position</h2>

        <div class="card border-dark mb-3">
            <div class="card-body text-dark">
                <button class="btn btn-sm btn-dark" (click)="abrirModal()"><i class="bi bi-plus-lg"></i> New
                    Register</button>

                <table class="table table-hover mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th>Year of balance</th>
                            <th class="w100">Estado</th>
                            <th class="w100">Category</th>
                            <th class="w300">Item</th>
                            <th>Amount ($ million)</th>
                            <th>Percent of gdp</th>
                            <th class="w100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of registros">
                            <td>
                                {{registro.year}}
                            </td>
                            <td>
                                {{registro.state}}
                            </td>
                            <td>
                                {{registro.category}}
                            </td>
                            <td>
                                {{registro.item}}
                            </td>
                            <td>
                                {{registro.amount}}
                            </td>
                            <td>
                                {{registro.percent | percent:'1.0-3'}}
                            </td>
                            <td class="d-flex justify-content-around">
                                <a class="cursor" (click)="abrirModalEdit(registro)"><i
                                        class="bi bi-pen-fill text-primary"></i></a>
                                <a class="cursor" (click)="delete(registro.id)"><i
                                        class="bi bi-trash-fill text-danger"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>

        </div>

    </div>

</div>

<app-footer></app-footer>