<app-header></app-header>

<div class="d-flex justify-content-center mt-3">

    <div class="card border-dark mb-3">
        <div class="card-header">Government Fiscal Position</div>
        <div class="card-body text-dark">
            <h5 class="card-title">CRUD</h5>
            <button class="btn btn-sm btn-dark"><i class="bi bi-plus-lg"></i> New Register</button>

            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Year of balance</th>
                        <th>Estado</th>
                        <th>Category</th>
                        <th>Item</th>
                        <th>Amount ($ million)</th>
                        <th>Percent of gdp</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <a><i class="bi bi-pen-fill"></i></a>
                            <a><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>

</div>

<app-footer></app-footer>